body,
html,
#root,
#root > div {
    margin: 0;
    height: 100%;
}

.keyboard-show {
    max-height: 300px;
}

.keyboard-hide {
    max-height: 0;
}

.up-down-animation {
    animation-name: up-down;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
